sublime-text-3/*.cache/
sublime-text-3/*.cache
sublime-text-3/*.last-run
sublime-text-3/Projects/
sublime-text-3/i_opener_history.sublime-settings
sublime-text-3/Package Control.merged-ca-bundle
sublime-text-3/Package Control.user-ca-bundle
.netrwhist
