[user]
	email = loric.brevet@gmail.com
	name = Loric Brevet
[push]
	default = current
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lo = log --no-merges --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	co = checkout
	br = branch
	ci = commit
	mt = mergetool
	dt = difftool
  di = diff
  dm = difftool -t meld
  mm = mergetool -t meld
[core]
	editor = vim
[color]
	ui = true
[merge]
	tool = vimdiff
[diff]
  tool = vimdiff
