[user]
	email = loric.brevet@gmail.com
	name = Loric Brevet
[push]
	default = current
[alias]
	tree = log -i --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lo = log -i --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	all = log -i --all --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --no-merges
  authors = shortlog -e -s -n
  sh = show
	st = status
	co = checkout
	br = branch
	ci = commit
	mt = mergetool
	dt = difftool
  di = diff
  dm = difftool -t meld
  mm = mergetool -t meld
  find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
  show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
[core]
	editor = vim
	excludesfile = ~/.gitignore
[color]
	ui = true
[merge]
	tool = vimdiff
[diff]
  tool = vimdiff
