! Colors

! Main 16 colors of base theme
#define base00 #263238
#define base01 #2c393f
#define base02 #37474f
#define base03 #707880
#define base04 #c9ccd3
#define base05 #cdd3de
#define base06 #d5dbe5
#define base07 #ffffff
#define base08 #ec5f67
#define base09 #ea9560
#define base0A #ffcc00
#define base0B #8bd649
#define base0C #80cbc4
#define base0D #89ddff
#define base0E #82aaff
#define base0F #ec5f67

! Matching colors with base
! Easy to import base 16 colorscheme in terminal sexy
! *color0:  base00
! *color1:  base01
! *color2:  base02
! *color3:  base03
! *color4:  base04
! *color5:  base05
! *color6:  base06
! *color7:  base07
! *color8:  base08
! *color9:  base09
! *color10: base0A
! *color11: base0B
! *color12: base0C
! *color13: base0D
! *color14: base0E
! *color15: base0F

! Propagate base 16 colors to other apps
*base_00: base00
*base_01: base01
*base_02: base02
*base_03: base03
*base_04: base04
*base_05: base05
*base_06: base06
*base_07: base07
*base_08: base08
*base_09: base09
*base_0A: base0A
*base_0B: base0B
*base_0C: base0C
*base_0D: base0D
*base_0E: base0E
*base_0F: base0F

! Main components colors
*foreground:   base05
*background:   base00
*cursorColor:  base05

*color0:       base03
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07

! Urxvt
URxvt.background:                 [99]base00
URxvt.termName:                   rxvt-256color
URxvt.internalBorder:             20
URxvt.font:                       xft:Inconsolata for Powerline:size=13
URxvt.geometry:                   80x20
URxvt.depth:                      32
URxvt.scrollBar:                  false
URxvt.mouseWheelScrollPage:       false
URxvt.cursorBlink:                true
URxvt.saveLines:                  50000
URxvt.fading:                     05
URxvt.intensityStyles:            false
URxvt.iso14755:                   false
URxvt.iso14755_52:                false
URxvt.loginShell:                 true
URxvt.matcher.button:             1
URxvt.matcher.rend.0:             Uline Bold fg5
URxvt.perl-ext-common:            keyboard-select,matcher,resize-font
URxvt.scrollTtyKeypress:          true
URxvt.scrollTtyOutput:            false
URxvt.scrollWithBuffer:           false
URxvt.skipScroll:                 true
URxvt.urgentOnBell:               true
URxvt.url-launcher:               /usr/bin/google-chrome
URxvt.visualBell:                 false
URxvt.keysym.M-g:                 perl:keyboard-select:activate
URxvt.keyboard-select.clipboard:  true

! Rofi

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG      Border  Separator
rofi.color-window:  base01, base0D, base0D

! Property Name     BG      FG      BG-alt  Head-BG Head-FG
rofi.color-normal:  base01, base05, base01, base01, base0D
rofi.color-active:  base01, base0D, base01, base01, base0D
rofi.color-urgent:  base01, base08, base01, base01, base08

rofi.separator-style:  solid
rofi.terminal:         urxvt
rofi.sidebar-mode:     false
rofi.font:             inconsolata 13
rofi.fixed-num-lines:  true
rofi.hide-scrollbar:   true
rofi.opacity:          100
rofi.line-margin:      10
rofi.lines:            8
rofi.columns:          1
rofi.bw:               2
rofi.eh:               1
rofi.location:         0
rofi.padding:          28
rofi.width:            50
