! Colors

#define fg    #9ea7a6
#define bg    #232c31
#define col0  #2f3d45
#define col8  #3f4944
#define col1  #2a5491
#define col9  #2a5491
#define col2  #237986
#define col10 #237986
#define col3  #a03b1e
#define col11 #a03b1e
#define col4  #484d79
#define col12 #484d79
#define col5  #c59820
#define col13 #c59820
#define col6  #b02f30
#define col14 #b02f30
#define col7  #9ea7a6
#define col15 #b5d8f6

! special
*.foreground:   fg
*.background:   bg
*.cursorColor:  fg

! black
*.color0:       col0
*.color8:       col8

! red
*.color1:       col1
*.color9:       col9

! green
*.color2:       col2
*.color10:      col10

! yellow
*.color3:       col3
*.color11:      col11

! blue
*.color4:       col4
*.color12:      col12

! magenta
*.color5:       col5
*.color13:      col13

! cyan
*.color6:       col6
*.color14:      col14

! white
*.color7:       col7
*.color15:      col15

URxvt.background:                 [99]bg
URxvt.termName:                   rxvt-256color
URxvt.internalBorder:             20
URxvt.font:                       xft:Inconsolata for Powerline:size=13
URxvt.geometry:                   80x20
URxvt.depth:                      32
URxvt.scrollBar:                  false
URxvt.mouseWheelScrollPage:       false
URxvt.cursorBlink:                true
URxvt.saveLines:                  50000
URxvt.fading:                     05
URxvt.intensityStyles:            false
URxvt.iso14755:                   false
URxvt.iso14755_52:                false
URxvt.loginShell:                 true
URxvt.matcher.button:             1
URxvt.matcher.rend.0:             Uline Bold fg5
URxvt.perl-ext-common:            keyboard-select,matcher,resize-font
URxvt.scrollTtyKeypress:          true
URxvt.scrollTtyOutput:            false
URxvt.scrollWithBuffer:           false
URxvt.skipScroll:                 true
URxvt.urgentOnBell:               true
URxvt.url-launcher:               /usr/bin/google-chrome
URxvt.visualBell:                 false
URxvt.keysym.M-g:                 perl:keyboard-select:activate
URxvt.keyboard-select.clipboard:  true

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG     Border   Separator
rofi.color-window:  bg,    col4,    fg

! Property Name     BG      FG      BG-alt  Head-BG Head-FG
rofi.color-normal:  bg,     fg,     bg,     bg,     col4
rofi.color-active:  bg,     fg,     bg,     bg,     col4
rofi.color-urgent:  bg,     fg,     bg,     bg,     col4

! Set the desired separator style
rofi.separator-style: solid

rofi.sidebar-mode:     false
rofi.font:             inconsolata 16
rofi.fixed-num-lines:  true
rofi.hide-scrollbar:   true

rofi.opacity:          100
rofi.width:            40
rofi.lines:            8
rofi.columns:          1
rofi.bw:               2
rofi.location:         0
rofi.padding:          20
